$base-color: #001a18;

.hero_section_container {
  display: flex;
  min-height: 800px;
  height: 82vh;
  padding: 0px 6%;
  background-color: $base-color;
}
.short_hero_section_container {
  display: flex;
  height: 400px;
  background-color: $base-color;
}
.left_container {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero_title {
  font-style: normal;
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 120%;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 24px;
}
.hero_subTitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.right_container {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
}
.full_container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/images/carbon-development-hero.png');
  background-size: cover;
  background-repeat: no-repeat;

}
.hero_image {
  height: 612px;
}
.root_hero_image {
  height: 812px;
}

.dotWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot {
  width: 4px;
  height: 4px;
  background: #ffffff;
}
.marqueeText {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.marqueeWrapper {
  height: 84px;
}

@media only screen and (max-width: 1024px) {
  .hero_section_container {
    justify-content: flex-end;
    flex-direction: column-reverse;
    height: auto;
    padding: 50px 3%;
  }
  .left_container {
    padding: 5% 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .right_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero_image {
    padding-top: 20px;
    width: 100%;
    height: auto;
  }
  .hero_title {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 24px;
  }
  .hero_subTitle {
    font-size: 16px;
  }
  .root_hero_image {
    width: 95%;
    height: fit-content;
  }
  .dotWrapper {
    width: 100px;
  }
  .marqueeText {
    font-size: 18px;
  }
  .full_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: start;
    padding: 2rem;
  }
}
