.wrapper {
  position: relative;
  // background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  // background-image: url("/images/what-we-solve/carousel/background.svg");
  // background-repeat: no-repeat;
  //  background-position: center;
}
.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.circleWrapper {
  width: 70px;
  height: 70px;
  background: rgba(51, 51, 51, 0.102);
  box-shadow: inset 0px 0px 0px 2.1875px rgba(51, 51, 51, 0.5);
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}