.timeline_wrapper {
  // display: flex;
  justify-content: center;
  position: relative;
  margin: 50px 0px;
  padding: 20px 190px;
}
.timeline_container {
  display: flex;
  justify-content: space-between;
  margin: 100px 0px;
}
.timeline_container_middle {
  display: flex;
  justify-content: space-between;
  margin: 100px 0px;
  padding-left: 70px;
}
.left_image {
  width: fit-content;
  z-index: 2;
}
.right_container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 6%;
}
.timeline_image {
  border-radius: 10px;
  width: 20rem;
  height: 26.6rem;
}
.straight_line {
  position: absolute;
  top: 30%;
  left: 340px;
  height: 40%;
  border-left: 0.15rem solid #124734;
}

@media only screen and (max-width: 1024px) {
  .straight_line {
    display: none;
  }
  .timeline_wrapper {
    position: relative;
    margin: 0px 0px;
    padding: 0px 5%;
  }
  .timeline_container {
    flex-direction: column;
  }
  .right_container {
    padding: 10% 0px;
    width: 100%;
  }
  .timeline_container_middle {
    flex-direction: column;
    padding-left: 0px;
  }
}
