.wrapper {
  padding: 5% 3%;
}
.cardWrapper {
  display: flex;
  flex: 1;
}
.card {
  flex: 1;
  padding: 3%;
}
.cardheading {
  font-weight: 700;
  font-size: 40px;
  display: flex;
  align-items: center;
  color: #2f2f2f;
}
.paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #828282;
  margin: 0.5rem 0px 1.5rem 0px;
}
.cardButton {
  padding: 14px 38px;

  width: 175px;
  height: 52px;

  border: 1px solid #000000;
  border-radius: 8px;
}
.dotWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot {
  width: 4px;
  height: 4px;
  background: #ffffff;
}
.marqueeText {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  /* identical to box height, or 36px */

  display: flex;
  align-items: center;

  color: rgba(255, 255, 255, 0.72);
}
@media only screen and (max-width: 1024px) {
  .cardWrapper {
    flex-direction: column;
  }
  .dotWrapper {
    padding: 0px 1rem;
  }
  .marqueeText {
    font-size: 18px;
  }
}
